.bg-yellow-indosat{
    background-color: #FBC02D !important;
}
.bg-red-indosat{
    color: #D32F2F !important;
}
a.bg-red-indosat:hover, a.bg-red-indosat:focus {
    color: #ffffff !important;
}

/*a.bg-yellow-indosat:hover, a.bg-yellow-indosat:focus,*/
/*button.bg-info:hover,*/
/*button.bg-info:focus {*/
/*    background-color: #117a8b !important;*/
/*}*/

.bg-yellow-indosat>.sidebar>a{
    color: #D32F2F !important;
}

.dropdown-item.test:hover, .dropdown-item.test:focus {
    color: #ffffff !important;
    background-color: #D32F2F !important;
}


